function Main.main 2
push constant 1
pop local 1
label WHILE_EXP0
push local 1
push constant 1
eq
not
if-goto WHILE_END0
call Screen.clearScreen 0
pop temp 0
push constant 0
push constant 0
call Output.moveCursor 2
pop temp 0
call MazeGame.new 0
pop local 0
push local 0
call MazeGame.runGame 1
pop local 1
push local 0
call MazeGame.dispose 1
pop temp 0
goto WHILE_EXP0
label WHILE_END0
push constant 0
return
