function MazeGame.new 3
push constant 11
call Memory.alloc 1
pop pointer 0
push constant 32
pop this 5
push constant 16
pop this 6
push constant 1
pop this 8
push constant 0
pop this 7
call InputHandler.new 0
pop this 4
push this 4
call InputHandler.getSeed 1
pop this 9
push this 5
push this 6
call Math.multiply 2
call Array.new 1
pop this 2
call Screen.clearScreen 0
pop temp 0
call Patterns.new 0
pop this 10
push this 9
call Random.new 1
pop local 1
push local 1
push constant 2
call Random.random 2
pop local 2
push pointer 0
push local 2
push this 5
push this 6
call MazeGame.initBoard 4
pop temp 0
push constant 16
push constant 16
push constant 0
call Player.new 3
pop this 0
push this 8
call Array.new 1
pop this 1
push constant 0
push this 1
add
push constant 96
push constant 112
push constant 0
not
call Player.new 3
pop temp 0
pop pointer 1
push temp 0
pop that 0
push this 5
push this 6
call MazeRenderer.new 2
pop this 3
push this 3
push this 2
call MazeRenderer.renderMaze 2
pop temp 0
push this 3
push this 0
call Player.getX 1
push this 0
call Player.getY 1
call MazeRenderer.renderPlayer 3
pop temp 0
push constant 0
push this 1
add
pop pointer 1
push that 0
pop local 0
push this 3
push local 0
call Player.getX 1
push local 0
call Player.getY 1
call MazeRenderer.renderEnemies 3
pop temp 0
push pointer 0
return
function MazeGame.initBoard 4
push argument 0
pop pointer 0
push this 10
push argument 1
call Patterns.getPattern 2
pop local 3
push constant 0
pop local 1
label WHILE_EXP0
push local 1
push argument 3
lt
not
if-goto WHILE_END0
push constant 0
pop local 0
label WHILE_EXP1
push local 0
push argument 2
lt
not
if-goto WHILE_END1
push local 1
push argument 2
call Math.multiply 2
push local 0
add
pop local 2
push local 2
push this 2
add
push local 2
push local 3
add
pop pointer 1
push that 0
pop temp 0
pop pointer 1
push temp 0
pop that 0
push local 0
push constant 1
add
pop local 0
goto WHILE_EXP1
label WHILE_END1
push local 1
push constant 1
add
pop local 1
goto WHILE_EXP0
label WHILE_END0
push constant 0
return
function MazeGame.runGame 1
push argument 0
pop pointer 0
label WHILE_EXP0
push this 7
push constant 0
eq
not
if-goto WHILE_END0
push pointer 0
call MazeGame.cyclePlayers 1
pop temp 0
push pointer 0
call MazeGame.checkGameOver 1
pop temp 0
goto WHILE_EXP0
label WHILE_END0
push this 7
push constant 1
eq
if-goto IF_TRUE0
goto IF_FALSE0
label IF_TRUE0
call Screen.clearScreen 0
pop temp 0
push this 4
call InputHandler.shouldRestart 1
pop local 0
label IF_FALSE0
push this 7
push constant 1
neg
eq
if-goto IF_TRUE1
goto IF_FALSE1
label IF_TRUE1
call Screen.clearScreen 0
pop temp 0
push this 4
call InputHandler.shouldRestart 1
pop local 0
label IF_FALSE1
push local 0
return
function MazeGame.isObjectByCell 2
push argument 0
pop pointer 0
push argument 1
push constant 0
lt
if-goto IF_TRUE0
goto IF_FALSE0
label IF_TRUE0
push constant 0
not
return
label IF_FALSE0
push argument 1
push this 5
lt
not
if-goto IF_TRUE1
goto IF_FALSE1
label IF_TRUE1
push constant 0
not
return
label IF_FALSE1
push argument 2
push constant 0
lt
if-goto IF_TRUE2
goto IF_FALSE2
label IF_TRUE2
push constant 0
not
return
label IF_FALSE2
push argument 2
push this 6
lt
not
if-goto IF_TRUE3
goto IF_FALSE3
label IF_TRUE3
push constant 0
not
return
label IF_FALSE3
push argument 2
push this 5
call Math.multiply 2
push argument 1
add
pop local 0
push local 0
push this 2
add
pop pointer 1
push that 0
pop local 1
push local 1
push argument 3
eq
if-goto IF_TRUE4
goto IF_FALSE4
label IF_TRUE4
push constant 0
not
return
label IF_FALSE4
push constant 0
return
function MazeGame.playerOverlapObject 8
push argument 0
pop pointer 0
push argument 1
push constant 16
call Math.divide 2
pop local 0
push argument 1
push argument 3
add
push constant 1
sub
pop local 4
push local 4
push constant 16
call Math.divide 2
pop local 1
push argument 2
push constant 16
call Math.divide 2
pop local 2
push argument 2
push argument 4
add
push constant 1
sub
pop local 5
push local 5
push constant 16
call Math.divide 2
pop local 3
push local 2
pop local 6
label WHILE_EXP0
push local 3
push local 6
lt
not
not
if-goto WHILE_END0
push local 0
pop local 7
label WHILE_EXP1
push local 1
push local 7
lt
not
not
if-goto WHILE_END1
push argument 5
push pointer 0
push local 7
push local 6
push constant 119
call MazeGame.isObjectByCell 4
and
if-goto IF_TRUE0
goto IF_FALSE0
label IF_TRUE0
push constant 0
not
return
label IF_FALSE0
push argument 5
not
if-goto IF_TRUE1
goto IF_FALSE1
label IF_TRUE1
push pointer 0
push local 7
push local 6
push constant 102
call MazeGame.isObjectByCell 4
if-goto IF_TRUE2
goto IF_FALSE2
label IF_TRUE2
push constant 0
not
return
label IF_FALSE2
label IF_FALSE1
push local 7
push constant 1
add
pop local 7
goto WHILE_EXP1
label WHILE_END1
push local 6
push constant 1
add
pop local 6
goto WHILE_EXP0
label WHILE_END0
push constant 0
return
function MazeGame.convertDir2Coords 1
push argument 0
pop pointer 0
push constant 2
call Array.new 1
pop local 0
push argument 1
push constant 1
eq
if-goto IF_TRUE0
goto IF_FALSE0
label IF_TRUE0
push constant 0
push local 0
add
push this 0
call Player.getX 1
pop temp 0
pop pointer 1
push temp 0
pop that 0
push constant 1
push local 0
add
push this 0
call Player.getY 1
push constant 2
sub
pop temp 0
pop pointer 1
push temp 0
pop that 0
push local 0
return
label IF_FALSE0
push argument 1
push constant 2
eq
if-goto IF_TRUE1
goto IF_FALSE1
label IF_TRUE1
push constant 0
push local 0
add
push this 0
call Player.getX 1
push constant 2
add
pop temp 0
pop pointer 1
push temp 0
pop that 0
push constant 1
push local 0
add
push this 0
call Player.getY 1
pop temp 0
pop pointer 1
push temp 0
pop that 0
push local 0
return
label IF_FALSE1
push argument 1
push constant 3
eq
if-goto IF_TRUE2
goto IF_FALSE2
label IF_TRUE2
push constant 0
push local 0
add
push this 0
call Player.getX 1
pop temp 0
pop pointer 1
push temp 0
pop that 0
push constant 1
push local 0
add
push this 0
call Player.getY 1
push constant 2
add
pop temp 0
pop pointer 1
push temp 0
pop that 0
push local 0
return
goto IF_END2
label IF_FALSE2
push constant 0
push local 0
add
push this 0
call Player.getX 1
push constant 2
sub
pop temp 0
pop pointer 1
push temp 0
pop that 0
push constant 1
push local 0
add
push this 0
call Player.getY 1
pop temp 0
pop pointer 1
push temp 0
pop that 0
push local 0
return
label IF_END2
function MazeGame.isValidMoveByPixels 5
push argument 0
pop pointer 0
push argument 1
push constant 0
eq
if-goto IF_TRUE0
goto IF_FALSE0
label IF_TRUE0
push constant 0
return
goto IF_END0
label IF_FALSE0
push pointer 0
push argument 1
call MazeGame.convertDir2Coords 2
pop local 4
push constant 0
push local 4
add
pop pointer 1
push that 0
pop local 0
push constant 1
push local 4
add
pop pointer 1
push that 0
pop local 1
push this 0
call Player.getWidth 1
pop local 2
push this 0
call Player.getHeight 1
pop local 3
push pointer 0
push local 0
push local 1
push local 2
push local 3
push constant 0
not
call MazeGame.playerOverlapObject 6
if-goto IF_TRUE1
goto IF_FALSE1
label IF_TRUE1
push local 4
call Array.dispose 1
pop temp 0
push constant 0
return
label IF_FALSE1
push local 4
call Array.dispose 1
pop temp 0
push constant 0
not
return
label IF_END0
function MazeGame.movePlayer 0
push argument 0
pop pointer 0
push argument 1
push constant 1
eq
if-goto IF_TRUE0
goto IF_FALSE0
label IF_TRUE0
push this 0
call Player.moveUp 1
pop temp 0
label IF_FALSE0
push argument 1
push constant 2
eq
if-goto IF_TRUE1
goto IF_FALSE1
label IF_TRUE1
push this 0
call Player.moveRight 1
pop temp 0
label IF_FALSE1
push argument 1
push constant 3
eq
if-goto IF_TRUE2
goto IF_FALSE2
label IF_TRUE2
push this 0
call Player.moveDown 1
pop temp 0
label IF_FALSE2
push argument 1
push constant 4
eq
if-goto IF_TRUE3
goto IF_FALSE3
label IF_TRUE3
push this 0
call Player.moveLeft 1
pop temp 0
label IF_FALSE3
push constant 0
return
function MazeGame.cyclePlayers 2
push argument 0
pop pointer 0
push constant 1
pop local 1
push constant 0
pop local 0
label WHILE_EXP0
push local 1
push constant 1
eq
push local 0
push constant 0
eq
push pointer 0
push local 0
call MazeGame.isValidMoveByPixels 2
or
and
not
if-goto WHILE_END0
push local 0
push constant 0
eq
not
if-goto IF_TRUE0
goto IF_FALSE0
label IF_TRUE0
push this 3
push this 0
call Player.getX 1
push this 0
call Player.getY 1
call MazeRenderer.renderWhiteBlock 3
pop temp 0
push pointer 0
push local 0
call MazeGame.movePlayer 2
pop temp 0
push this 3
push this 0
call Player.getX 1
push this 0
call Player.getY 1
call MazeRenderer.renderPlayer 3
pop temp 0
push constant 0
pop local 1
push pointer 0
push constant 0
call MazeGame.moveEnemy 2
pop temp 0
label IF_FALSE0
push local 1
push constant 1
eq
if-goto IF_TRUE1
goto IF_FALSE1
label IF_TRUE1
push this 4
call InputHandler.getDirection 1
pop local 0
label IF_FALSE1
push constant 10
call Sys.wait 1
pop temp 0
goto WHILE_EXP0
label WHILE_END0
push constant 0
return
function MazeGame.moveEnemy 17
push argument 0
pop pointer 0
push argument 1
push this 1
add
pop pointer 1
push that 0
pop local 16
push local 16
call Player.getX 1
pop local 14
push local 16
call Player.getY 1
pop local 15
push local 14
pop local 0
push local 15
pop local 1
push this 0
call Player.getX 1
pop local 2
push this 0
call Player.getY 1
pop local 3
push local 0
push constant 16
call Math.divide 2
pop local 4
push local 1
push constant 16
call Math.divide 2
pop local 5
push local 2
push constant 16
call Math.divide 2
pop local 6
push local 3
push constant 16
call Math.divide 2
pop local 7
push pointer 0
push local 4
push local 5
push local 6
push local 7
call MazeGame.bfsNextCell 5
pop local 8
push local 8
push constant 1
neg
eq
if-goto IF_TRUE0
goto IF_FALSE0
label IF_TRUE0
push constant 0
return
label IF_FALSE0
push local 8
push this 5
call Math.divide 2
pop local 10
push local 8
push local 10
push this 5
call Math.multiply 2
sub
pop local 9
push local 9
push constant 16
call Math.multiply 2
pop local 11
push local 10
push constant 16
call Math.multiply 2
pop local 12
push constant 2
pop local 13
push local 0
push local 11
lt
if-goto IF_TRUE1
goto IF_FALSE1
label IF_TRUE1
push local 0
push local 13
add
pop local 0
push local 0
push local 11
lt
not
if-goto IF_TRUE2
goto IF_FALSE2
label IF_TRUE2
push local 11
pop local 0
label IF_FALSE2
label IF_FALSE1
push local 0
push local 11
gt
if-goto IF_TRUE3
goto IF_FALSE3
label IF_TRUE3
push local 0
push local 13
sub
pop local 0
push local 11
push local 0
lt
not
if-goto IF_TRUE4
goto IF_FALSE4
label IF_TRUE4
push local 11
pop local 0
label IF_FALSE4
label IF_FALSE3
push local 1
push local 12
lt
if-goto IF_TRUE5
goto IF_FALSE5
label IF_TRUE5
push local 1
push local 13
add
pop local 1
push local 1
push local 12
lt
not
if-goto IF_TRUE6
goto IF_FALSE6
label IF_TRUE6
push local 12
pop local 1
label IF_FALSE6
label IF_FALSE5
push local 1
push local 12
gt
if-goto IF_TRUE7
goto IF_FALSE7
label IF_TRUE7
push local 1
push local 13
sub
pop local 1
push local 12
push local 1
lt
not
if-goto IF_TRUE8
goto IF_FALSE8
label IF_TRUE8
push local 12
pop local 1
label IF_FALSE8
label IF_FALSE7
push local 16
push local 0
call Player.setX 2
pop temp 0
push local 16
push local 1
call Player.setY 2
pop temp 0
push this 3
push local 14
push local 15
call MazeRenderer.renderWhiteBlock 3
pop temp 0
push this 3
push local 0
push local 1
call MazeRenderer.renderEnemies 3
pop temp 0
push constant 0
return
function MazeGame.playerOverlapEnemy 3
push argument 0
pop pointer 0
push constant 0
push this 1
add
pop pointer 1
push that 0
pop local 2
push argument 1
push local 2
call Player.getX 1
sub
pop local 0
push argument 2
push local 2
call Player.getY 1
sub
pop local 1
push local 0
call Math.abs 1
pop local 0
push local 1
call Math.abs 1
pop local 1
push local 0
push this 0
call Player.getWidth 1
lt
push local 1
push this 0
call Player.getHeight 1
lt
and
if-goto IF_TRUE0
goto IF_FALSE0
label IF_TRUE0
push constant 0
not
return
label IF_FALSE0
push constant 0
return
function MazeGame.checkGameOver 0
push argument 0
pop pointer 0
push pointer 0
push this 0
call Player.getX 1
push this 0
call Player.getY 1
call MazeGame.playerOverlapEnemy 3
if-goto IF_TRUE0
goto IF_FALSE0
label IF_TRUE0
push constant 1
neg
pop this 7
push constant 0
return
label IF_FALSE0
push pointer 0
push this 0
call Player.getX 1
push this 0
call Player.getY 1
push this 0
call Player.getWidth 1
push this 0
call Player.getHeight 1
push constant 0
call MazeGame.playerOverlapObject 6
if-goto IF_TRUE1
goto IF_FALSE1
label IF_TRUE1
push constant 1
pop this 7
push constant 0
return
label IF_FALSE1
push constant 0
return
function MazeGame.dispose 1
push argument 0
pop pointer 0
push constant 0
push this 1
add
pop pointer 1
push that 0
pop local 0
push this 4
call InputHandler.dispose 1
pop temp 0
push this 3
call MazeRenderer.dispose 1
pop temp 0
push this 0
call Player.dispose 1
pop temp 0
push local 0
call Player.dispose 1
pop temp 0
push this 1
call Array.dispose 1
pop temp 0
push this 2
call Array.dispose 1
pop temp 0
push this 10
call Patterns.dispose 1
pop temp 0
push pointer 0
call Memory.deAlloc 1
pop temp 0
push constant 0
return
function MazeGame.bfsNextCell 14
push argument 0
pop pointer 0
push this 5
push this 6
call Math.multiply 2
pop local 0
push argument 2
push this 5
call Math.multiply 2
push argument 1
add
pop local 1
push argument 4
push this 5
call Math.multiply 2
push argument 3
add
pop local 2
push local 0
call Array.new 1
pop local 4
call Queue.new 0
pop local 3
push constant 0
pop local 5
label WHILE_EXP0
push local 5
push local 0
lt
not
if-goto WHILE_END0
push local 5
push local 4
add
push constant 1
neg
pop temp 0
pop pointer 1
push temp 0
pop that 0
push local 5
push constant 1
add
pop local 5
goto WHILE_EXP0
label WHILE_END0
push local 3
push local 1
call Queue.push 2
pop temp 0
push local 1
push local 4
add
push local 1
pop temp 0
pop pointer 1
push temp 0
pop that 0
push constant 0
not
pop local 13
label WHILE_EXP1
push local 13
not
if-goto WHILE_END1
push local 3
call Queue.pop 1
pop local 6
push local 6
push constant 1
neg
eq
if-goto IF_TRUE0
goto IF_FALSE0
label IF_TRUE0
push constant 0
pop local 13
label IF_FALSE0
push local 6
push local 2
eq
if-goto IF_TRUE1
goto IF_FALSE1
label IF_TRUE1
push constant 0
pop local 13
label IF_FALSE1
push local 6
push this 5
call Math.divide 2
pop local 7
push local 6
push local 7
push this 5
call Math.multiply 2
sub
pop local 8
push local 7
push constant 1
sub
pop local 9
push local 8
pop local 10
push pointer 0
push local 10
push local 9
push constant 119
call MazeGame.isObjectByCell 4
not
if-goto IF_TRUE2
goto IF_FALSE2
label IF_TRUE2
push local 9
push this 5
call Math.multiply 2
push local 10
add
pop local 11
push local 11
push local 4
add
pop pointer 1
push that 0
push constant 1
neg
eq
if-goto IF_TRUE3
goto IF_FALSE3
label IF_TRUE3
push local 11
push local 4
add
push local 6
pop temp 0
pop pointer 1
push temp 0
pop that 0
push local 3
push local 11
call Queue.push 2
pop temp 0
label IF_FALSE3
label IF_FALSE2
push local 7
pop local 9
push local 8
push constant 1
add
pop local 10
push pointer 0
push local 10
push local 9
push constant 119
call MazeGame.isObjectByCell 4
not
if-goto IF_TRUE4
goto IF_FALSE4
label IF_TRUE4
push local 9
push this 5
call Math.multiply 2
push local 10
add
pop local 11
push local 11
push local 4
add
pop pointer 1
push that 0
push constant 1
neg
eq
if-goto IF_TRUE5
goto IF_FALSE5
label IF_TRUE5
push local 11
push local 4
add
push local 6
pop temp 0
pop pointer 1
push temp 0
pop that 0
push local 3
push local 11
call Queue.push 2
pop temp 0
label IF_FALSE5
label IF_FALSE4
push local 7
push constant 1
add
pop local 9
push local 8
pop local 10
push pointer 0
push local 10
push local 9
push constant 119
call MazeGame.isObjectByCell 4
not
if-goto IF_TRUE6
goto IF_FALSE6
label IF_TRUE6
push local 9
push this 5
call Math.multiply 2
push local 10
add
pop local 11
push local 11
push local 4
add
pop pointer 1
push that 0
push constant 1
neg
eq
if-goto IF_TRUE7
goto IF_FALSE7
label IF_TRUE7
push local 11
push local 4
add
push local 6
pop temp 0
pop pointer 1
push temp 0
pop that 0
push local 3
push local 11
call Queue.push 2
pop temp 0
label IF_FALSE7
label IF_FALSE6
push local 7
pop local 9
push local 8
push constant 1
sub
pop local 10
push pointer 0
push local 10
push local 9
push constant 119
call MazeGame.isObjectByCell 4
not
if-goto IF_TRUE8
goto IF_FALSE8
label IF_TRUE8
push local 9
push this 5
call Math.multiply 2
push local 10
add
pop local 11
push local 11
push local 4
add
pop pointer 1
push that 0
push constant 1
neg
eq
if-goto IF_TRUE9
goto IF_FALSE9
label IF_TRUE9
push local 11
push local 4
add
push local 6
pop temp 0
pop pointer 1
push temp 0
pop that 0
push local 3
push local 11
call Queue.push 2
pop temp 0
label IF_FALSE9
label IF_FALSE8
goto WHILE_EXP1
label WHILE_END1
push local 2
push local 4
add
pop pointer 1
push that 0
push constant 1
neg
eq
if-goto IF_TRUE10
goto IF_FALSE10
label IF_TRUE10
push local 3
call Queue.dispose 1
pop temp 0
push local 4
call Array.dispose 1
pop temp 0
push constant 1
neg
return
label IF_FALSE10
push local 2
pop local 12
label WHILE_EXP2
push local 12
push local 4
add
pop pointer 1
push that 0
push local 1
eq
not
not
if-goto WHILE_END2
push local 12
push local 4
add
pop pointer 1
push that 0
pop local 12
goto WHILE_EXP2
label WHILE_END2
push local 3
call Queue.dispose 1
pop temp 0
push local 4
call Array.dispose 1
pop temp 0
push local 12
return
